html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  background-color: #ffef5d;
  padding: 1rem 1rem;
}
#login_btn {
  background-color: #11ad11;
  padding: 0rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 150px;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}
#search_btn {
  background-color: #11ad11;
  padding: 0.3rem 0.3rem;
}

#search-field {
  height: 2rem;
  padding: 1rem;
  background-color: rgb(236, 236, 229);
  font-family: Arial, Helvetica, sans-serif;
}
.input-group {
  position: relative;
  right: 100px;
  width: 80%;
}

#cart {
  position: relative;
  left: 120px;
  color: rgb(24, 184, 9);
  font-weight: bold;
}
#cart_count {
  position: relative;
  left: 120px;
  background-color: #11ad11;
  padding: 0.1rem 0.1rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

#logo {
  height: 35;
  width: 50px;
}
#logo_name {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0rem;
  color: #11ad11;
}
#products_heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1c8d1c;
  margin-top: 2rem;
}
#indoor_money_plant {
  height: 15rem;
}

#view_btn {
  background-color: #11ad11;
  color: white;
}

.card {
  height: 100%;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #fa9c23;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fdcc0d;
}
.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}
